.section1{
    grid-column: 2/2;
    grid-row: 2/4;
    height: 900px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    margin-left: 110px;
}

.section1 .titulo-info {
    font-size: 35px;
}

.section1 .parrafo-info {
    margin-top: 5px;
    font-size: 17px;
}

.section1 .sub_titulo-info {
    font-size: 35px;
    margin-top: 40px;
}


.informacion{
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.titulo-info{
    width: 400px;
    height: 50px;
    margin-top: 100px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 600;
}

.contenedor-info{
    width: 800px;
    height: 300px;
    margin-left: 40px;
    display: flex;
}

.parrafo-info{
    width: 450px;
    height: 300px;
    font-size: 19px;
    font-weight: 500;
    display: flex;
align-items: center;}

.img-info{
    width: 350px;
    height: 300px;

}

.img-info img{
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
}

.sub_titulo-info{
    width: 400px;
    height: 50px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 600;
}

.contenedor-lista{
    width: 800px;
    height: 300px;
    margin-left: 40px;
    display: flex;
    gap: 5px;
}

.lista{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 30px;
    gap: 5px;
    font-size: 18px;
    font-weight: 500;
}